  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="'../views/blocks/navbar.brand.html'"></div>
      </div>
    </div>

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Регистрация на сайте {{app.name}} 
      </div>
      <form name="form">
        <div class="md-form-group">
          <input type="text" class="md-input" ng-model="user.name" required>
          <label>Имя</label>
        </div>
        <div class="md-form-group">
          <input type="email" class="md-input" ng-model="user.email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group">
          <input type="password" class="md-input" ng-model="user.password" required>
          <label>Пароль</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" ng-model="agree" required><i class="primary"></i> Согласен(-на) <a href>с условиями</a>
          </label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Завершить регистрацию</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div>У Вас уже есть аккаунт? <a ui-sref="access.signin" href="#/access/signin" class="text-primary _600">Войдите</a></div>
    </div>
  </div>
