<ul class="dropdown-menu pull-down text-color" role="menu">
  <li class="dropdown-item"><a href>1 # Событие</a></li>
  <li class="dropdown-item"><a href>2 # Событие</a></li>
  <li class="dropdown-item"><a href>3 # Событие</a></li>
  <li class="dropdown-divider"></li>
  <li class="dropdown-item"><a href>Перейти</a></li>
  <li class="dropdown-item dropdown-submenu">
    <a href>Второй уровень</a>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-item"><a href>1 # Событие</a></li>
      <li class="dropdown-item"><a href>2 # Событие</a></li>
      <li class="dropdown-item"><a href>3 # Событие</a></li>
    </ul>
  </li>
</ul>
