<div class="dropdown-menu pull-right dropdown-menu-scale">
  <a class="dropdown-item" ui-sref="app.page.profile">
    <span>Профиль</span>
  </a>
  <a class="dropdown-item" ui-sref="app.form.file-upload">
    <span>Хранилище</span>
    <span class="label primary m-l-xs">(100)</span>
  </a> 
  <a class="dropdown-item" ui-sref="app.inbox.list">
    <span>Сообщения</span>
    <span class="label warn m-l-xs">3</span>
  </a>
 
  <a class="dropdown-item" ui-sref="app.page.setting">
    <span>Настройки</span>
    <span class="label primary m-l-xs">3/9</span>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" ui-sref="app.docs">
    Нужна помощь?
  </a>
  <a class="dropdown-item" ui-sref="access.signin">Выйти</a>
</div>
